@use "./font";
@use './variable' as *;
@use "./responsive";

body {
  font-family: $primary-font;
  background-color: $primary-bg;
  color: $primary-color;
  font-weight: 400;
  line-height: 120%;
}

.home-page{
  background-size: cover;
  min-height: 100dvh;
}

/* 100% Online Section Start */

section.online100 {
  position: relative;
  .overlay {
    padding-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    h3 {
      font-size: 58px;
      font-family: $secondary-font;
    }
    .list-item-support {
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        padding-left: 30px;
        position: relative;
        &::after{
          content: "";
          background: url(./../img/bullet-icon.svg);
          background-size: 18px;
          width:18px;
          height: 20px;
          position: absolute;
          left: 0;
          top: 3px;
        }
      }
    }
  }
}
/* 100% Online Section End */

.review-slider{
  padding: 150px 0;
  h2{
    font-size: 48px;
    font-family: "Impact", sans-serif;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    span {
      background: $heading-gradiant;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .swiper {
    padding-bottom: 80px;
  }
  .swiper-pagination-bullet {
    background: #B9B8B8;
    width: 16px;
    height: 16px;
    margin: 0 10px !important;
  }
  .swiper-slide{
    width: auto;
  }
  .review-item{
    width: 414px;
    background: url('./../img/review-bg.svg');
    background-size: cover;
    padding: 32px;
    border-radius: 15px;
    backdrop-filter: blur(61.94px);
    .quate {
      font-size: 18px;
      max-width: 334px;
      margin: 32px auto;
      line-height: 160%;
    }
    .review-star {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      margin-bottom: 40px;
    }
    .review-author {
      display: flex;
      max-width: 216px;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      gap: 25px;
      .author-img{
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        img{
          width:100%;
        }
      }
      .author-info{
        h5{
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 10px;
        }
        p{
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 0;
          color: rgba(255, 255, 255, 0.5);
          line-height: 100%;
        }
      }
    }
  }
}

