@use "./font";
@use './variable' as *;

body {
  font-family: $primary-font;
  background-color: $primary-bg;
  color: $primary-color;
  font-weight: 400;
  line-height: 120%;
}
.home-page{
  background-size: cover;
  background-image: url('@/assets/img/body-bg.webp');
}

