.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1049;
    transition: opacity 0.3s ease-in-out;
  }
  .offcanvas-cart {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background: #1d1d1d;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    z-index: 1050;
  }
  .offcanvas-cart.show {
    right: 0;
  }
  .cart-header {
    padding: 15px;
    background: #003c7c;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cart-body {
    padding: 15px;
    height: calc(100% - 138px);
    overflow-y: auto;
  }
  .list-group-item{
      background-color: #272727;
  }
  .cart-footer {
    padding: 15px;
    background: #2e2f2f;
  }
  .cart-footer .btn{
      padding: 10px;
      background: linear-gradient(180deg, #C1842D 0%, #ECC974 100%);
      width: 100%;
      height: 50px;
      display: block;
  }
  .cart-item .btn-outline-light{
      border-color: #ffffff;
      background: transparent;
      width: 30px;
      height: 30px;
      border: 1px solid;
      border-radius: 50% !important;
  }
  .cart-item .btn-outline-light:hover{
      background-color: #ffffff;
  }