.seach-area {
    max-width: 612px;
    margin: 0 auto;
    padding: 180px 0 52px;
    .input-group {
      .input-group-prepend {
        margin-right: 0;
        .input-group-text {
          background: transparent!important;
          border: none;
          position: absolute;
          z-index: 5;
          padding: 26px 20px 26px 32px;
        }
      }
      input.form-control {
        height: 75px;
        border: 1px solid #fff !important;
        padding-left: 73px;
        font-size: 20px;
        color: #fff;
        background: rgba(67, 67, 67, 0.16);
        border-radius: 62px;
        backdrop-filter: blur(204px);
        &:focus{
          box-shadow: none;
        }
        &::placeholder{
          color:#fff;
          opacity: 1;
        }
      }
    }
}